# File containing Configuration
config-backup.py

# Conversation Dumps
FB/*
WhatsApp/*
d3/*
data/*

.ipynb_checkpoints/*

final_all_chats.csv
final_my_chats.csv

*/*.csv


Code/save_plots_personal.py
Exploration_Personal.ipynb
